/*
VECTOR
*/
.vector{
    text-align: center;
    padding: 60px 60px 0px 60px;

    h3{
        padding: 10px 10px 0 10px;
        color: #00CF95;
        font-size: 1.3rem;
        font-weight: 600;
    }
}

